tbody tr.highlight td {
    background-color: #ddd;
}

/*.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fcf8e3;
}*/

a, a:link, a:visited, a:hover, a:active {
	color:inherit;
	text-decoration: none;
 }

.switchon-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 30px;
    text-align: center;
}

.switchon-header h1 {
     display:inline;
         margin-left: 15px;
}

.row {
    margin-top: 8px;
    margin-bottom: 8px;
}

.table-hover {
    display:block;
    max-height:560px;
    overflow-y:auto;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

thead {
    background-color: #ddd;
}


#sidebar {
    border-left-style: dashed;
    border-color: #b2cbe5;
}

#not-active {
    color: #9dabb9;
    cursor: default;
    pointer-events: none;
}

#footer {
    height: 100px;
  }

#addButton {
    vertical-align: bottom;
}

#meta_table th {
    text-align: right;
}

/* form css */
.meta_table th {
    text-align: right;
}

#noscript-padding {
    padding-top: 1.9em;
}

#noscript-warning {
    background-color: #ae0000;
    color: #fff;
    font-size: 120%;
    font-weight: bold;
    left: 0;
    padding: 5px 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

.alert .glyphicon {
    display:table-cell;
    vertical-align: middle;
    padding-right: 15px;
}

.alert div {
	height: 50px;
    display:table-cell;
    vertical-align: middle;
}
