<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--CSS/Bootstrap-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />


    <!--Javascript-->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/form.js' %}"></script>
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    
</head>
<body>
<noscript>
    <div id="noscript-padding"></div>
</noscript>
<div id="wrapper" class="container">
    <div class="row">
        <h1>Protocol Tool{% block header %}{% endblock %}</h1>
    </div>
    <div class="row">
        <div id="main_content" class="col-md-10">
            {% block body %}{% endblock %}
        </div> <!-- end #main_content -->
    </div>
    <div class="row">
        <div id="footer" class="col-md-12">

        </div>
    </div>
</div> <!--END wrapper-->
<noscript><div id="noscript-warning">Please enable JavaScript to run this site properly</div></noscript>

{% block script %}{% endblock %}
</body>
</html>