{% extends "protocoltool/base.html" %}

<title>
    Basic information
</title>

{% block body %}


<form role="form" id="dataset_form" class="form-horizontal" action="/project/form/" method="post">

    {% csrf_token %}

    {% for form in forms_list %}
    <div id="{{ form.0 }}" class="row">

        <div class="row">
        {% if form.0 == 'Basic' %}
            <div class="col-md-8">

                {% for field in form.1 %}

                    <!--Set subtitles-->
                    {% if field.name == 'title' %}
                    <hr>
                    <h4>General information</h4>
                    {% endif %}

                    <div id="{{ field.label }}" class="form-group">
                        <label for="{{ field.id_for_label }}" class="col-md-3 control-label">{{ field.label }}:</label>
                        <div id="{{ field.label }}_field" class="col-md-9">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}

                <input type="hidden" name="form_action" value="create" />
            </div>
        {% endif %}
        </div> <!-- end row with the protocol information-->

    </div>
    {% endfor %}
</form>


<div class="row">
    <div class="col-md-12"> <!--Form submission button-->
        <button type="button" class="btn btn-primary pull-right" onclick="checkform()">Next</button>
    </div> <!--END Form submission button-->
</div>
{% endblock %}

{% block script %}

<!--Load in all data from Django to javascript-->
<script type='text/javascript'>

    var datasetID = "{{ dataset_id }}";
    var csrfmiddlewaretoken =  "{{ csrf_token }}";

</script>

{% endblock %}