{% extends "protocoltool/base.html" %}

<title>
    Protocol Tool
</title>

{% block body %}


<form role="form" id="dataset_form" class="form-horizontal" action="/project/form/{% if edit %}{{ dataset_id }}/{% endif %}" method="post">

    {% csrf_token %}

    {% for form in forms_list %}
    <div id="{{ form.0 }}" class="row">

        <div class="row">
        {% if form.0 == 'Basic' %}
            <div class="col-md-8">

                {% for field in form.1 %}

                    <!--Set subtitles-->
                    {% if field.name == 'title' %}
                    <hr>
                    <h4>1) General information</h4>
                    {% endif %}

                    {% if field.name == 'principles' %}
                    <hr>
                    <h4>2) Protocol driving principles</h4>
                    {% endif %}

                    {% if field.name == 'dataReqDescription' %}
                    <hr>
                    <h4>3) Data requirements</h4>
                    {% endif %}

                    {% if field.name == 'expExecutionSteps' %}
                    <hr>
                    <h4>4) Experiment execution steps</h4>
                    {% endif %}

                    {% if field.name == 'resultReportingFormatting' %}
                    <hr>
                    <h4>5) Result reporting and formatting</h4>
                    {% endif %}


                    <div id="{{ field.label }}" class="form-group">
                        <label for="{{ field.id_for_label }}" class="col-md-3 control-label">{{ field.label }}:</label>
                        <div id="{{ field.label }}_field" class="col-md-9">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
                {% if edit %}
                <input type="hidden" name="dataset_id" value="{{ dataset_id }}" />
                <input type="hidden" name="form_action" value="update" />
                {% else %}
                <input type="hidden" name="form_action" value="create" />
                {% endif %}
            </div>
        {% endif %}
        </div> <!-- end row with the protocol information-->

        <div class="row">
            {% if form.0 == 'Partner' %}
            <hr>

                <div class="col-md-8">

                    <h4>6) Partners</h4>

                    {% for field in form.1 %}
                    <div id="{{ field.label }}" class="form-group">
                        <label for="{{ field.id_for_label }}" class="col-md-3 control-label">{{ field.label }}:</label>
                        <div id="{{ field.label }}_field" class="col-md-9">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    </div>
                    {% endfor %}

                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                      <div class="btn-group" role="group">
                        <button type="button" id="addPartnerID" class="btn btn-default active">Add</button>
                      </div>
                      <div class="btn-group" role="group">
                        <button type="button" id="updatePartnerID" class="btn btn-default disabled">Update</button>
                      </div>
                      <div class="btn-group" role="group">
                        <button type="button" id="deletePartnerID" class="btn btn-default disabled">Delete</button>
                      </div>
                    </div>
            </div>


            <div class="col-md-4">

                <input type="hidden" id="selectedPartnerID" value="-99">
                <!--<input type="hidden" id="selectedPartnerID" value="-99">-->
                 <h4>Current partners:</h4>

                <table id="partnerTable" class="table table-hover table-bordered tablepartner">
                    <thead>
                        <tr>
                            <th class="col-md-8"><strong>Name</strong></th>
                            <th class="col-md-4"><strong>Lead</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partner in existingPartners %}
                       <tr class="partnerRow">
                           <td class="col-md-8 partnername">{{ partner.name }}</td>
                           <td class="col-md-4">{{ partner.lead }}</td>
                       </tr>
                      {% endfor %} <!-- end for sources -->

                    </tbody>
                </table>

            </div>

            {% endif %} <!--end if form is partner-->

        </div>  <!-- end row with partner information-->
    </div>
    {% endfor %}
</form>


<div class="row">
    <div class="col-md-12"> <!--Form submission button-->
        {% if edit %}
            <button type="button" class="btn btn-primary pull-right" onclick="checkform()">Update Protocol</button>
        {% else %}
            <button type="button" class="btn btn-primary pull-right" onclick="checkform()">Create Protocol</button>
        {% endif %}
    </div> <!--END Form submission button-->
</div>
{% endblock %}

{% block script %}

<!--Load in all data from Django to javascript-->
<script type='text/javascript'>

    var datasetID = "{{ dataset_id }}";
    var existingPartners = {{ existingPartnersJSON|safe }};

    console.log(existingPartners);

    var csrfmiddlewaretoken =  "{{ csrf_token }}";

</script>

{% endblock %}