
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--CSS/Bootstrap/FontAwesome-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

        <!--Javascript-->
        <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="{% static 'javascript/bootbox.min.js' %}"></script>
        <script src="{% static 'javascript/functions.js' %}"></script>

    </head>

    <body>


        <div class="container">

            <div class="switchon-header">
                <span><img src="{% static 'img/sologo_new_cropped.png' %}" alt=""/></span>
                <h1>Protocol Tool</h1>
            </div>


            <div id="messagetype">
                <span id="messagefa"></span>
                <div id="messagetext"></div>
            </div>

            <script>
                var message = "Welcome to the protocol tool. Here you can create new protocols, edit existing experiment protocols, or view on-going and completed protocols."
                setMessage("alert alert-success", "fa fa-4x fa-fw fa-pull-left fa-info-circle", message);
            </script>


            <div class="panel panel-primary">
                <div class="panel-heading">
                    Select protocol
                </div>

                <div class="panel-body">

                    <div class="row"> <!--Buttons-->
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" id="addDataset" onclick="window.location.assign('/project/form/')" class="btn btn-xs btn-primary">Add protocol</button>
                            </div>
                        </div>
                    </div> <!--END Buttons-->


                    <div class="row"> <!--Datasets table-->

                        <div class="col-md-12">

                        {% if show_participate %}

                            <h4>Participate in defining a protocol</h4>

                            <table id="participatetable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Protocol</th>
                                        <th class="col-md-2">Last update</th>
                                        <th class="col-md-2">Status</th>
                                        <th class="col-md-3">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dataset in dataset_list  %}
                                        {% if dataset.checked %}
                                            {% if not dataset.published  %}
                                            <tr>
                                                <td class="col-md-5">{{ dataset.shortname }}</td>
                                                <td class="col-md-2">{{ dataset.dateLastUpdate | date:'d-m-Y' }}</td>
                                                <td class="col-md-2">Participate</td>
                                                <td class="col-md-3">
                                                    <button type="button" class="btn btn-xs btn-default" value="{{ dataset.id }}" name="view" onclick="viewProtocol(this)">View</button>
                                                    <button type="button" class="btn btn-xs btn-default" value="{{ dataset.id }}" name="edit" onclick="editProtocol(this)">Edit</button>
                                                    <button type="button" class="btn btn-xs btn-default" value="{{ dataset.id }}" name="publish" onclick="publishProtocol(this)">Send to 'review or repeat'</button>

                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% empty %}
                                    <tr>
                                        <td>No protocols defined</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        {% endif %}

                        {% if show_review %}

                            <h4>Review or Repeat experiments</h4>

                            <table id="reviewtable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Protocol</th>
                                        <th class="col-md-2">Last update</th>
                                        <th class="col-md-2">Status</th>
                                        <th class="col-md-3">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dataset in dataset_list  %}
                                        {% if dataset.checked %}
                                            {% if dataset.published %}
                                            <tr>
                                                <td class="col-md-5">{{ dataset.shortname }}</td>
                                                <td class="col-md-2">{{ dataset.dateLastUpdate | date:'d-m-Y' }}</td>
                                                <td class="col-md-2">
                                                    Review or repeat
                                                </td>
                                                <td class="col-md-3">
                                                    <button type="button" class="btn btn-xs btn-default" value="{{ dataset.id }}" name="viewprotocol" onclick="exportProtocol(this)">View protocol</button>

                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% empty %}
                                    <tr>
                                        <td>No protocols defined</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        {% endif %}
                        </div>

                    </div> <!--END Datasets table-->
                </div> <!--END Panel body-->

                <div class="panel-footer clearfix">
                    <button type="button" class="btn btn-primary pull-left">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <span><a href="mailto:switchon.wm@gmail.com?subject=Protocol Tool">Feedback</a></span>
                    </button>

                    {% if show_review %}
                    <form action="../participate/" method="POST" class="form-inline">
                        {% csrf_token %}
                        <button type="submit" name="changeList" class="btn btn-primary pull-right">
                            Show participate protocols
                        </button>
                    </form>
                    {% endif %}

                    {% if show_participate %}
                    <form action="../review/" method="POST" class="form-inline">
                        {% csrf_token %}
                        <button type="submit" name="changeList" class="btn btn-primary pull-right">
                            Show review protocols
                        </button>
                    </form>
                    {% endif %}

                </div>
            </div> <!-- End Panel-->
        </div> <!--END Container-->

        <form id="dataset_action_form" action="../overviewaction/" method="post">
            {% csrf_token %}

            <input type="hidden" name="show_review" value="{{ show_review }}">
            <input type="hidden" name="show_participate" value="{{ show_participate }}">
            <input type="hidden" name="dataset_id" id="datasetID" value="">
            <input type="hidden" name="dataset_action" id="datasetActionID" value="">
        </form>

        <br>

        <footer class="switchonfooter">
            <img class="switchonfooterimage" src="{% static 'img/switchonfooter_adjusted.png' %}" alt=""/>
        </footer>

    </body>


</html>

<script>

    function exportProtocol(instance){
        $('#datasetActionID').val("export");
        $('#datasetID').val(instance.value);
        $('#dataset_action_form').submit();
    }

    function viewProtocol(instance){
        $('#datasetActionID').val("view");
        $('#datasetID').val(instance.value);
        $('#dataset_action_form').submit();
    }

    function editProtocol(instance){
        $('#datasetActionID').val("edit");
        $('#datasetID').val(instance.value);
        $('#dataset_action_form').submit();
    }

    function publishProtocol(instance){

        bootbox.confirm('The protocol will be made non-editable. Are you sure you wish to continue?', function(result){
            if(result){
                $('#datasetActionID').val("publish");
                $('#datasetID').val(instance.value);
                $('#dataset_action_form').submit();
            }
        });
    }

</script>