<!DOCTYPE html>
<html lang="en">

    <body>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!--CSS/Bootstrap-->

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

            {% load staticfiles %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/viewprotocol.css' %}" />

            <!--Javascript-->
            <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script src="{% static 'javascript/viewprotocol.js' %}"></script>
        </head>


        <div class="container">

            <h1>
                Protocol: {{ basic.shortname }}
            </h1>

            <hr>
            <h3> Experiment information </h3>

            <table id="experimentTable" class="table-condensed" table-border="0">
                <tbody>
                </tbody>
            </table>

            <script>
            writeLabelLine("#experimentTable > tbody", "Full experiment name:", "{{ basic.title }}");
            writeLabelLine("#experimentTable > tbody", "Experiment Idea:", "{{ basic.experimentIdea }}");
            writeLabelLine("#experimentTable > tbody", "Hypothesis:", "{{ basic.hypothesis }}");
            writeLabelLine("#experimentTable > tbody", "Research objective:", "{{ basic.researchObjective }}");
            writeLabelLine("#experimentTable > tbody", "Date last update:", "{{ basic.dateLastUpdate }}");
            </script>


            <hr>
            <h3> Partners </h3>

            <div class="row">
                <div class="col-md-8">
                    <table id="partnerTable" class="table-condensed" table-border="0">
                        <th class="col-md-2"><strong>Name</strong></th>
                        <th class="col-md-2"><strong>E-mail</strong></th>
                        <th class="col-md-2"><strong>Organisation</strong></th>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>


            {% for partner in partners %}
            <script>
            writePartnerLine("{{ partner.name }}", "{{partner.email }}", "{{ partner.organisation }}", "{{ partner.lead }}");
            </script>
            {% endfor %}

            <hr>
            <h3> Data & Method Preparation </h3>

            <table id="methodTable" class="table-condensed" table-border="0">
                <tbody>
                </tbody>
            </table>

            {% for method in methods %}
            <script>
            writeLabelLine("#methodTable > tbody", "Description:", "{{ method.description }}");
            writeLabelLine("#methodTable > tbody", "Contributing partner:", "{{ method.partner.name }}");
            writeLabelLine("#methodTable > tbody", "Deadline:", "{{ method.deadline }}");
            writeLabelLine("#methodTable > tbody", "", "");
            writeLabelLine("#methodTable > tbody", "", "");
            </script>
            {% endfor %}


            <hr>
            <h3> Experiment Analysis Steps </h3>

            <table id="stepTable" class="table-condensed" table-border="0">
                <tbody>
                </tbody>
            </table>

            {% for step in steps %}
            <script>
            writeLabelLine("#stepTable > tbody", "Output:", "{{ step.properties }}");
            writeLabelLine("#stepTable > tbody", "Contributing partner:", "{{ step.partner.name }}");
            writeLabelLine("#stepTable > tbody", "Deadline:", "{{ step.deadline }}");
            writeLabelLine("#stepTable > tbody", "", "");
            writeLabelLine("#stepTable > tbody", "", "");
            </script>
            {% endfor %}


            <hr>
            <h3> Result Reporting </h3>
            <table id="resultTable" class="table-condensed" table-border="0">
                <tbody>
                </tbody>
            </table>

            {% for result in results %}
            <script>
            writeLabelLine("#resultTable > tbody", "Output:", "{{ result.properties }}");
            writeLabelLine("#resultTable > tbody", "Contributing partner:", "{{ result.partner.name }}");
            writeLabelLine("#resultTable > tbody", "Deadline:", "{{ result.deadline }}");
            writeLabelLine("#resultTable > tbody", "", "");
            writeLabelLine("#resultTable > tbody", "", "");
            </script>
            {% endfor %}

        </div> <!--END CONTAINER -->
    </body>
</html>